# -------------------------------------------------
# 🌐 Node / JavaScript 공통
# -------------------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.DS_Store

# 환경 변수 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 빌드 결과물
dist/
build/
coverage/
.next/
out/
.turbo/
.vercel/

# -------------------------------------------------
# 📱 Expo / React Native
# -------------------------------------------------
.expo/
.expo-shared/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig
*.log

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/.DS_Store
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/xcuserdata/
ios/*.xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/DerivedData/
ios/.expo/
ios/ExpoModulesProvider.swift

# Android
android/.gradle/
android/app/build/
android/local.properties
android/*.iml
android/.idea/
android/captures/
android/.cxx/
android/.expo/
android/gradle/
android/key.keystore
android/key.properties
android/.DS_Store

# -------------------------------------------------
# 🖥️ VSCode / IDE
# -------------------------------------------------
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# -------------------------------------------------
# 🧪 Testing
# -------------------------------------------------
jest/
coverage/
test-results.xml

# -------------------------------------------------
# 🚀 Deployment
# -------------------------------------------------
.vercel/
firebase-debug.log
functions/lib/
functions/node_modules/
tmp/